<div class="flex flex-col">
  <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
      <div class="overflow-hidden">
        <table class="min-w-full">
          <thead class="border-b">
            <tr>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                #
              </th>
              <% headers.each do |t|%>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                <%= t %>
              </th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% foods.each_with_index do |food, i| %>
              <tr class="border-b">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= i + 1 %></td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                  <%= food.name %>
                </td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                  <%= food.measurement_unit %>
                </td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                 <strong>$</strong><%= food.price %>
                </td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                 <%= button_to 'Delete', user_food_path(current_user, food.id), method: :delete, class: "underline text-blue-500" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>