<%= form_with(model: food, url: foods_path(params[:user_id]), class: "contents") do |form| %>
  <% if food.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(food.errors.count, "error") %> prohibited this food from being saved:</h2>

      <ul>
        <% food.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row mb-3">
    <div class="col-12 col-md-3">
      <%= form.label :name, class: "form-label" %>
    </div>
    <div class="col-12 col-md-9">
      <%= form.text_field :name, class: "form-control" %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-12 col-md-3">
      <%= form.label :measurement_unit, class: "form-label" %>
    </div>
    <div class="col-12 col-md-9">
      <%= form.text_field :measurement_unit, class: "form-control" %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-12 col-md-3">
      <%= form.label :price, class: "form-label" %>
    </div>
    <div class="col-12 col-md-9">
      <%= form.number_field :price, class: "form-control" %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-12 col-md-3">
      <%= form.label :quantity, class: "form-label" %>
    </div>
    <div class="col-12 col-md-9">
      <%= form.text_field :quantity, class: "form-control" %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-12">
      <%= form.submit "Add Food", class: "btn btn-outline-dark float-end" %>
    </div>
  </div>
<% end %>